@charset "utf-8";

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 100px;   
}

a {
    text-decoration: none;
    color: black;
}

footer {
    font-family: bebas_neueregular;
    width: 140px;
    height: 16px;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 231px;
}

#musicBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: 74px;
    outline: 1px solid #000000;
}

#musicTitle {
    font-family: bebas_neueregular;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 3px;
}

#song {
    font-family: bebas_neueregular;
    font-size: 25px;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 0px;
}

#artist {
    font-family: bebas_neueregular;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 0px;
}

#musicInfo {
    width: 150px;   
}

#albumArt {
    float: right;
    margin-right: 6px;
    margin-top: 5px;
    width: 64px;
    height: 64px;
    background-color: black;
}

#content {
    left: 50%;
    position: absolute;
    width: 539px;
    height: 500px;
    margin-left: -221px;
}

#bg {
	background-image: url(images/bg.png);
	height: 500px;
	width: 211px;
    float: left;
    margin-right: 10px;
}

#name {
	background-image: url(images/name.png);
	height: 64px;
	width: 306px;
    float: left;
    margin-bottom: 50px;
}

#line {
	background-color: black;
	width: 2px;
	height: 500px;
    float: left;
    margin-right: 10px;
}

#links {
	font-family: bebas_neueregular;
	width: 140px;
	font-size: 28px;
    float: left;
    margin-right: 27px;
}