body {
  margin-top: 20px;
  padding-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: normal;
  margin-bottom: 5px;
}

h3 {
  font-weight: normal;
  margin: 0px;
}

a, a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #333333;
}

a:hover {
	border-bottom: 1px solid #333333;
}

#everything {
  max-width: 720px;
}

#slacker {
  text-align: center;
}

#about p {
  margin-top: 0px;
  font-size: 21px;
  text-align: justify;
}

#projects {
}

.project {
  margin-bottom: 16px;
}

.project .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.toolList span {
  color: white;
  font-weight: bold;
  background: #777;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 11px;
  border-radius: 3px;
  margin-left: 5px;
}

a.toolList {
  border-bottom: none;
}
