<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['setTrackerUrl', '//analytics.jamesbvaughan.com/piwik.php']);
  _paq.push(['setSiteId', '1']);
</script>
<script async src='//analytics.jamesbvaughan.com/piwik.js'></script>

<script type="text/javascript">
var owa_baseUrl = 'http://owa.jamesbvaughan.com/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', '{{ site.open_web_analytics }}']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);
owa_cmds.push(['trackDomStream']);
</script>
<script async src='//owa.jamesbvaughan.com/modules/base/js/owa.tracker-combined-min.js'></script>
