{% if page.share_buttons != false %}
<div style="display: flex; align-items: flex-end;">
  <!-- Twitter Share Button -->
  <a rel="me"
     href="https://twitter.com/jamesontheline"
     class="twitter-share-button">
    Tweet
  </a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Facebook Share Button -->
  <div class="fb-like" 
    data-layout="standard" 
    data-action="like">
  </div>
  <div class="fb-share-button" data-layout="button_count"></div>
</div>
{% endif %}
