{{ define "main" }}
  <p class="lh-copy">
    {{ .Content }}
  </p>
  <div>
    {{ range .Data.Pages }}
      <a href="{{ .RelPermalink }}" class="no-underline black">
        <div class="flex flex-column flex-row-ns mb2-ns mb3">
          <div class="pr3-ns w-100 w-40-ns flex-shrink-0">
            <div class="aspect-ratio aspect-ratio--8x5">
              <div class="aspect-ratio--object cover" style="background:url({{ .RelPermalink}}/{{ index .Params.images 0 }}) center;"></div>
            </div>
          </div>
          <div>
            <h1 class="mt0 mb1">{{ .Title }}</h1>
            <b>{{ .Params.venue }}</b>
            <br />
            <time class="">{{ .Date.Format "Jan 2, 2006" }}</time>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
{{ end }}

