<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "seo.html" . }}

    <link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" title="{{ .Site.Title }}" />
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    {{ $style := resources.Get "styles/main.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink | safeCSS }}"/>
    <link rel="stylesheet" href="/styles/syntax.css"/>
  </head>
  <body class="bg-near-white dark-gray helvetica ph3 ph4-ns mw7 center">
    {{ partial "nav.html" . }}
    <main>
      {{ block "main" . }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
  </body>
</html>
