<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "seo.html" . }}

    <link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" title="{{ .Site.Title }}" />
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container mt-3">
      {{ partial "nav.html" . }}
      <main class="mt-2">
        <article>
          {{ block "header" . }}<header>
            <h1 class="display-4 text-left">
              {{ block "articleTitle" . }}{{ .Title }}{{ end }}
            </h1>
            <p class="text-muted m-0">{{ block "subheader" . }}{{ end }}</p>
          </header>{{ end }}
          <p class="lead">{{ block "description" . }}
            {{ .Description | markdownify | safeHTML }}
          {{ end }}</p>
          {{ block "main" . }}{{ .Content }}{{ end }}
        </article>
      </main>
      <footer>{{ partial "footer.html" . }}</footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{ partial "analytics.html" . }}
  </body>
</html>
