.container {
  max-width: 720px;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  outline: none;
}

pre {
  padding: 10px;
}

.commento .card {
  padding: 0 !important;
}

#commento-coms {
  margin-top: 15px !important;
}

article a, footer a {
  text-decoration: underline;
  color: inherit;
}

article a:hover, footer a:hover {
  color: #d33682;
}

::selection {
  color: white;
  background: #6c71c4;
}
