{{ define "browser-title" }}
  {{ .Render "title" | htmlUnescape | plainify }} -
  {{ .Site.Title }}
{{ end }}

{{ define "title" }}
  {{ .Render "title" }}
{{ end }}

{{ define "main" }}
  <article class="h-entry">
    <div hidden>
      <div class="p-name">
        {{ .Render "title" }}
      </div>

      <a class="u-url" href="{{ .Permalink }}">
        Published:
        <time class="dt-published">
          {{ .Date.Format "2006-01-02T15:04:05Z07:00" }}
        </time>
      </a>

      <div class="p-author h-card">
        {{ partial "h-card.html" . }}
      </div>

      {{ range .Params.syndication }}
        <a class="u-syndication" href="{{ .url }}" rel="syndication"
          >{{ .site_name }}</a
        >
      {{ end }}
    </div>

    <time class="text-ctp-subtext0" datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>

    <div class="e-content break-words">
      {{ .Content }}
    </div>

    {{ if isset .Params "footer" }}
      {{ partial .Params.footer . }}
      <br />
    {{ end }}

    {{ if isset .Params "discussion_links" }}
      {{ partial "discussion-links.html" . }}
    {{ end }}
  </article>

  {{ range .Params.scripts }}
    <script defer src="{{ . }}"></script>
  {{ end }}

{{ end }}
