{{ define "title" }}
  {{ .Render "title" | htmlUnescape | plainify }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<article>
  <header class="mb3">
    <h1 class="f2 f1-ns mt4-ns mt3 mb1 lh-title">
      {{ .Render "title" }}
    </h1>
    <time class="gray">
      {{ .Date.Format "January 2, 2006" }}
    </time>
  </header>
  <div class="lh-copy">
    {{ .Content }}
  </div>
  {{ if isset .Params "footer" }}
    {{ partial .Params.footer . }}
    <br />
  {{ end }}
  {{ if default true .Params.sharing }}
    {{ partial "share-links.html" . }}
  {{ end }}
  {{ if isset .Params "discussion_links" }}
    {{ partial "discussion-links.html" . }}
  {{ end }}
</article>
{{ end }}
