<div class="divide-ctp-surface0 divide-y-1">
  {{ range . }}
    <div class="space-y-4 pt-6 pb-10">
      <div class="flex items-center justify-between">
        <h2>
          <a
            class="text-ctp-text text-3xl font-bold"
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </h2>
        <time class="text-ctp-subtext0 text-base"
          >{{ .Date.Format "January 2006" }}</time
        >
      </div>

      {{- $resources := .Resources.ByType "image" -}}

      {{- $mainImageName := index .Params.images 0 -}}
      {{- $leftImageName := index .Params.images 1 -}}
      {{- $rightImageName := index .Params.images 2 -}}

      {{- $mainImage := $resources.GetMatch $mainImageName -}}
      {{- $leftImage := $resources.GetMatch $leftImageName -}}
      {{- $rightImage := $resources.GetMatch $rightImageName -}}


      <div class="">
        <img src="{{ $mainImage.Permalink }}" class="" />
        <div class="mt-1 flex w-full gap-1">
          <img
            src="{{ $leftImage.Permalink }}"
            style="flex: {{ div (float $leftImage.Width) (float $leftImage.Height) }} 1 0%"
            class="min-w-0"
          />
          <img
            src="{{ $rightImage.Permalink }}"
            style="flex: {{ div (float $rightImage.Width) (float $rightImage.Height) }} 1 0%"
            class="min-w-0"
          />
        </div>
      </div>

      <a href="{{ .RelPermalink }}">
        More info about
        {{ .Title }}
      </a>
    </div>
  {{ end }}
</div>
