<div class="divide-ctp-surface0 divide-y-1">
  {{ range . }}
    <div class="space-y-4 pt-6 pb-10">
      <div class="flex items-center justify-between">
        <h2>
          <a
            class="text-ctp-text text-3xl font-bold"
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </h2>
        <time class="text-ctp-subtext0 text-base"
          >{{ .Date.Format "January 2006" }}</time
        >
      </div>

      {{- $resources := .Resources.ByType "image" -}}

      {{- $mainImageName := index .Params.images 0 -}}
      {{- $leftImageName := index .Params.images 1 -}}
      {{- $rightImageName := index .Params.images 2 -}}

      {{- $title := .Title -}}
      {{- $mainImage := $resources.GetMatch $mainImageName -}}
      {{- $leftImage := $resources.GetMatch $leftImageName -}}
      {{- $rightImage := $resources.GetMatch $rightImageName -}}


      <div class="">
        {{- with images.Filter (images.Process "resize 2000x webp") $mainImage -}}
          <img
            src="{{ .Permalink }}"
            alt="{{ $title }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            loading="lazy"
          />
        {{- end -}}
        <div class="mt-1 flex w-full gap-1">
          {{- with images.Filter (images.Process "resize 2000x webp") $leftImage -}}
            <img
              src="{{ .Permalink }}"
              alt="{{ $title }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              loading="lazy"
              style="flex: {{ div (float .Width) (float .Height) }} 1 0%"
              class="min-w-0"
            />
          {{- end -}}
          {{- with images.Filter (images.Process "resize 2000x webp") $rightImage -}}
            <img
              src="{{ .Permalink }}"
              alt="{{ $title }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              loading="lazy"
              style="flex: {{ div (float .Width) (float .Height) }} 1 0%"
              class="min-w-0"
            />
          {{- end -}}
        </div>
      </div>

      <a href="{{ .RelPermalink }}">
        More info about
        {{ .Title }}
      </a>
    </div>
  {{ end }}
</div>
