<div class="divide-ctp-surface0 divide-y-1">
  {{ range . }}
    <div class="space-y-4 pt-6 pb-10">
      <div class="flex items-center justify-between">
        <h2>
          <a
            class="text-ctp-text text-3xl font-bold"
            href="{{ .RelPermalink }}"
          >
            {{ .Title }}
          </a>
        </h2>
        <time class="text-ctp-subtext0 text-base"
          >{{ .Date.Format "January 2006" }}</time
        >
      </div>

      {{- $resources := .Resources.ByType "image" -}}

      {{- $mainImageName := index .Params.images 0 -}}
      {{- $leftImageName := index .Params.images 1 -}}
      {{- $rightImageName := index .Params.images 2 -}}

      {{- $mainImage := $resources.GetMatch $mainImageName -}}
      {{- $leftImage := $resources.GetMatch $leftImageName -}}
      {{- $rightImage := $resources.GetMatch $rightImageName -}}


      <div class="grid grid-cols-2 gap-1">
        <img src="{{ $mainImage.Permalink }}" class="col-span-2" />
        <img src="{{ $leftImage.Permalink }}" class="" />
        <img src="{{ $rightImage.Permalink }}" class="" />
      </div>

      <a href="{{ .RelPermalink }}">
        More info about
        {{ .Title }}
      </a>
    </div>
  {{ end }}
</div>
