<div class="d-flex mb-3 mt-4 text-muted justify-content-between flex-column flex-sm-row">
  <div class="mb-2 mr-4">
    <div class="text-dark">
      {{ .Site.Title }}
    </div>
    <div>
      {{ .Site.Author.name }}
    </div>
    <div>
      <a href="mailto:{{ .Site.Author.email }}">
        {{ .Site.Author.email }}
      </a>
    </div>
  </div>
  <div class="mb-2 mr-4">
    <div class="text-dark">
      follow me
    </div>
    <div class="d-flex align-items-center">
      <span class="mr-1">
        {{ partial "github-icon.html" . }}
      </span>
      <a href="https://github.com/{{ .Site.Params.githubUsername }}">
        {{ .Site.Params.githubUsername }}
      </a>
    </div>
    <div class="d-flex align-items-center">
      <span class="mr-1">
        {{ partial "twitter-icon.html" . }}
      </span>
      <a href="https://twitter.com/{{ .Site.Params.twitterHandle }}">
        {{ .Site.Params.twitterHandle }}
      </a>
    </div>
  </div>
  <div class="mb-2">
    <div class="text-dark">
      license
    </div>
    <div>
      The content on this site is
      <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
    </div>
    <div>
      The <a href="{{ .Site.Params.gitRepo }}">code</a> for this site is
      <a href="{{ .Site.Params.gitRepo }}/blob/master/LICENSE">MIT</a>.
    </div>
  </div>
</div>

<p class="text-center text-muted">
  If you enjoy the content on this site,
  please consider <a href="/donate">donating</a>!
</p>
