<footer class="flex flex-column flex-row-l justify-between w-100 mw7 mb5 mt4 gray">
  <div class="">
    <div class="black mb2">{{ .Site.Title }}</div>
    <div>{{ .Site.Author.name }}</div>
    <div>
      <a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.email }}</a>
    </div>
  </div>
  <div class="mt3 mt0-l">
    <div class="black mb2">follow me</div>
    <div class="">
      <span class="">{{ partial "github-icon.html" . }}</span>
      <a href="https://github.com/{{ .Site.Params.githubUsername }}">
        {{ .Site.Params.githubUsername }}
      </a>
    </div>
    <div class="">
      <span class="">{{ partial "twitter-icon.html" . }}</span>
      <a href="https://twitter.com/{{ .Site.Params.twitterHandle }}">
        {{ .Site.Params.twitterHandle }}
      </a>
    </div>
  </div>
  <div class="mt3 mt0-l">
    <div class="black mb2">license</div>
    <div>
      the content on this site is
      <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>
    </div>
    <div>
      the <a href="{{ .Site.Params.gitRepo }}">code</a> for this site is
      <a href="{{ .Site.Params.gitRepo }}/blob/master/LICENSE">MIT</a>
    </div>
  </div>
</div>
