{{ define "main" }}
  <div class="mt-4 row">
    <div class="col order-md-last d-flex justify-content-around align-items-start">
      <img src="slacker.png">
    </div>
    <div class="lead col-md-9">
      <p>hey i'm james</p>
      <p>welcome to my website</p>
      <p>it's a pretty good website</p>
      <p>
        it's where i post
        <a href="/blog">things that i write</a>
      </p>
      <p>
        i also use it to share
        <a href="/favorites">lists of my favorites of some things</a>
      </p>
      <p>
        and to share
        <a href="/track">lists of everything of some things that i do</a>
      </p>
      <p>
        i hope you enjoy your time here
      </p>
      <p>
        thanks for coming
      </p>
    </div>
  </div>
  <script>
    ['song', 'movie'].forEach(item =>
      fetch('https://api.jamesbvaughan.com/' + item)
        .then(r => r.json())
        .then(({ status, body }) =>
          status === 'ok' &&
            (document.getElementById(item).innerHTML = ` (${body})`)))
  </script>
{{ end }}
