a {
  text-decoration: none;
  color: blue;
}

pre {
  padding: 0.5rem;
  font-size: 0.875rem;
  overflow: auto;
}

figcaption h4, figcaption p {
  text-align: center;
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  max-height: 35rem;
  max-width: 90%;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

dt {
  font-weight: bold;
}
