{{ define "main" }}
  <div class="lh-copy">
    {{ .Content }}
    {{ $type := .Type }}
    <ol class="list">
      {{ range $key, $value := .Data.Terms.ByCount }}
          {{ $name := .Name }}
          {{ $count := .Count }}
          {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <li class="di">
              <a class="f6 link dim br2 ba ph3 pv2 mb2 dib black" href="{{ .RelPermalink }}">
                {{ $name }}

                <span class="f7 link dim br-pill ph1 pv0 mb2 dib white bg-gray">
                  {{ $count }}
                </span>
              </a>
            </li>
          {{ end }}
      {{ end }}
    </ol>
  </div>
{{ end }}
