body {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
}

.filterToggle {
	cursor: pointer;
}

.project {
	margin-bottom: 15px;
	div {
		margin-top: -20px;
		display: flex;
		justify-content: space-between;
	}
	h4 {
		margin-top: 0px;
		margin-right: 10px;
	}
	p {
		display: inline;
	}
	.tool {
		margin-right: 5px;
	}
}

#line {
  background-color: #333333;
  width: 2px;
  height: 500px;
  animation-name: line-grow;
  animation-duration: 500ms;
  margin-right: 10px;
	margin-left: 10px;
}

a, a:hover {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px dotted #333333;
}

a:hover {
  border-bottom: 1px solid #333333;
}

#projects {
	a, a:hover {
		text-decoration: none;
		color: inherit;
	}
}

@keyframes line-grow {
  from {
    height: 0px;
  }
  to {
    height: 500px;
  }
}
