@charset "utf-8";

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-top: 100px;   
}

#content {
    left: 50%;
    position: absolute;
    width: 539px;
    height: 500px;
    margin-left: -221px;
}

#bg {
	background-image: url(images/bg.png);
	height: 500px;
	width: 211px;
    float: left;
    margin-right: 10px;
}

#name {
	background-image: url(images/name.png);
	height: 64px;
	width: 306px;
    float: left;
    margin-bottom: 50px;
}

#line {
	background-color: black;
	width: 2px;
	height: 500px;
    float: left;
    margin-right: 10px;
}

#links {
	font-family: bebas_neueregular;
	width: 140px;
	font-size: 28px;
    float: left;
    margin-right: 27px;
}

#footer {
	font-family: bebas_neueregular;
	width: 140px;
	height: 16px;
	font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 231px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

canvas {
    border: 5px;
}

#topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
}

#topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
}

#bottomLeft {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

#bottomRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
}