<div class="mb-2">
  {{ range .Site.Data.books }}
    <div class="row">
      <div class="col-3 text-right pr-0">
        <strong>{{ .year }}</strong>
      </div>
      <div class="col">
        {{ range .books }}
          <div>
            <span class="d-inline-block">
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            </span>
            <span class="d-block d-sm-inline-block font-weight-light">
              by {{ .author }}
            </span>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
