<div id="donation">
  <form
    id="donateForm"
    action="https://donate.jamesbvaughan.com/makeDonation"
    method="POST"
    novalidate
  >
    <input type="hidden" name="id" id="id" value="" />
    <input type="hidden" name="email" id="email" value="" />
    <input type="hidden" name="amount" id="amount" value="" />
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="donationAmount">Amount</label>
      <div class="input-group col-sm-10">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input
          class="form-control"
          id="donationAmount"
          placeholder="Amount (USD)"
          pattern="\$?[1-9]+(,[0-9]{3})*(\.[0-9][0-9]?)?"
          required
        />
        <div class="invalid-feedback">
          You have to donate a valid dollar amount ($1 minimum)
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="note" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <input
          class="form-control"
          id="note"
          name="note"
          placeholder="add a message (optional)"
        />
      </div>
    </div>
    <button class="btn btn-primary" id="donateButton">Donate</a>
  </form>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
const handler = StripeCheckout.configure({
  key: 'pk_live_K1ngFeTtNKvqAuiRcU28Rdpr',
  name: 'James Vaughan',
  description: 'One-time donation',
  image: '/images/head.png',
  panelLabel: 'Donate',
  allowRememberMe: false,
  locale: 'auto',
  token: function (token) {
    document.getElementById('id').value = token.id
    document.getElementById('email').value = token.email
    document.getElementById('donateForm').submit()
  }
})

const form = document.getElementById("donateForm")

form.addEventListener('submit', function(event) {
  event.preventDefault()

  if (form.checkValidity()) {
    let amount = document.getElementById('donationAmount').value
    amount = amount.replace(/\$/g, '').replace(/\,/g, '')
    amount = parseFloat(amount)

    if (isNaN(amount)) {
      alert('Invalid donation amount.')
    } else if (amount < 1.00) {
      alert('Donation amount must be at least $1.')
    } else {
      amount = Math.round(amount * 100)
      document.getElementById('amount').value = amount
      handler.open({ amount })
    }
  }
  form.classList.add('was-validated')
})

window.addEventListener('popstate', function() {
  handler.close()
})
</script>
